<!-- app/views/games/index.html.erb -->
<h1>Wish list </h1>
<div class="games-container">
  <% @games.each do |game| %>
    <div class="game-card">
      <img src="<%= game.banner %>" alt="Game banner" class="game-banner"/>
      <div class="game-info">
        <h2><%= game.name %></h2>
        <p><%= number_to_currency(game.price) %></p>
      </div>
      <div class="game-actions">
        <%= link_to 'Edit', edit_game_path(game), class: 'button edit-button' %>
        <%= link_to 'Delete', game, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button delete-button' %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'Add Game', new_game_path, class: 'button add-button', id: 'add-game-button' %>

<div class="new-game-form" id="new-game-form">
  <%= render 'form', game: @game %>
</div>

<script>
  // Simple script to toggle the form display
  document.getElementById('add-game-button').addEventListener('click', function() {
    document.getElementById('new-game-form').style.display = 'flex';
  });
</script>
