

 
	
		<!--Main-->
		<main>
			<div>
        <div class="grid-layout">
          <% @games.each_with_index do |game, index| %>
            <div class="grayscale" >
            <a href="/games/<%= game.id %>" style="position: relative;">
              <section class="game <%= game_background_class(index) %>" style="background: url('<%= game.banner %>')"></section>
              <span><%= game.name %></span>
              <span class="username_tag" ><%= game.username %></span>
            </a>
            </div>
          <% end %>
        </div>

			</div>
			<div>
			
			
				<section class="circle bg_size add_game" id="add-game-button" onclick="openModal()">
					<div class="image_ico picSize">
          <p>Ajouter un jeu</p>
          </div>
         
				</section>
				
		
			</div>

      <div id="gameFormModal" class="modal">
  <!-- The actual form goes here -->
  <div class="modal-content">
    <!-- app/views/games/_form.html.erb -->
    <%= raise 'Variable game est null!' if @game.nil? %>
    <%= form_with(model: @game, local: true,html: { onsubmit: 'return verifForm(event)' }) do |form| %>
      <% if @game.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

          <ul>
          <% @game.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :"Nom du jeu que tu souhaite avoir en cadeaux " , class: "graycolor" %>
        <%= form.text_field :name, id: :game_name ,placeholder: "Exemple : mario kart , pes.."  %>
      </div>

      <div class="field">
      <%= form.label :username, "Ton prénom", class: "graycolor" %>
      <%= form.text_field :username, id: :game_username, placeholder: "Permet à tes amis de te retrouvé.." %>
    </div>
    

      <div class="field">
        <%= form.label :"L'url du poster du jeu " , class: "graycolor" %>
        <%= form.text_field :banner, id: :game_banner ,placeholder: "https://img_exemple.png" %>
      </div>

      <div class="field">
        <%= form.label :"Prix du jeu " , class: "graycolor" %>
        <%= form.number_field :price, id: :game_price %>
      </div>

      <div class="actions">
        <%= form.submit 'Ajouter', class: 'button submit-button' %>
        <!-- Add a button or link for the close action -->
        <button type="button" class="button close-button" onclick="closeModal()">Annuler</button>
      </div>
      
    <% end %>
  </div>
</div>


		</main>

		<!--Footer-->
    <div class="flex_row"><hr class="custom_Hr"></div>
		
		<footer>

			<div class="switch_ico bg_size"></div>
			<div class="flex_row">
				<section class="flex_row gap5">
					<div class="option_ico bg_size"></div>
					<div>
						<p>Options</p>
					</div>
				</section>

        <section class="flex_row gap5 btn" >
					<div class="option_ico bg_size"></div>
					<div>
						<p>Ajouter un jeu</p>
					</div>
				</section>

				<section class="flex_row gap5">
					<div class="btn_ico"></div>
					<div>
						<p>Start</p>
					</div>
				</section>
			</div>
		</footer>
	

